.ant-input, 
.form-input-textarea,
.ant-input-number .ant-input-number-input,
.ant-input-group .ant-input-group-addon,
.ant-picker .ant-picker-input > input {
    line-height: 2rem;
}

.ant-input-number .ant-input-number-input {
    height: 41px;
}

.form-input-number {
    min-width: 150px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 41px;
    padding: 4px 11px 0;
}