.patient-record-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.patient-record-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 0.75rem;
    width: 100%;
}

.patient-record-info > h2 {
    font-size: 1.35rem;
    color: var(--color-highlight-main);
    padding: 0;
    margin-top: 0;
}

.patient-record-contact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.patient-record-contact > ul > li {
    word-spacing: 3px;
}

.patient-record-buttons {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 5px;
}

.patient-record-buttons > Button {
    border: none;
    box-shadow: none;
    font-size: 0.75rem;
    padding: 0;
    text-align: left;
}

.patient-record-medical-info {
    background-color: #fff;
    border-radius: 10px;
    height: 150px;
    margin-bottom: 30px;
    box-shadow: 0 1px 2px 0 rgba(39, 32, 32, 0.03),0 1px 6px -1px rgba(0, 0, 0, 0.02),0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

.patient-record-tab {
    font-size: 0.75rem;
    padding: 10px 30px;
}