.login-form {
    margin-top: 50px;
    width: 50vw;
}

.login-form-remember {
    display: flex;
    justify-content: space-evenly;
}

.login-form-forgot {
    font-weight: 600;
    padding-top: 5px;
}

.login-form-forgot:hover {
    color: var(--color-highlight-main);
}