.menuBar-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 226px;
}

.menuBar {
    height: 100%;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none;
}

.menuBar-button {
    background-color: var(--color-primary-main);
}

.menuBar-toggle {
    color: var(--color-text-white);
    background-color: var(--color-primary-main);
    border: none;
    box-shadow: none;
    margin: 7px 0;
}

@media screen and (max-width: 768px) {
    .menuBar-toggle {
        display: none;
    }

    .ant-menu-light.ant-menu-submenu > .ant-menu {
        background-color: var(--color-primary-main);
    }
}